
*{ 
    box-sizing: border-box;  /** se asegura que este el padding y el borde incluidos en el total**/
    color: blueviolet;
    font-size: 30px;
    font-family: 'Explora', cursive;

}



p{
    color: rgb(247, 72, 232);
    width: 150px;
    padding: 20px;
    border: 1px solid turquoise;
    margin: 5px;
    font-size: 15px;
}

#lolis_variante{
    color: chocolate;
    font-size: 29px;
    border: 1px solid blue;
    width: 10%;
    float: right;
    padding: 15px;

}

.clase1{
    color: crimson;
    font-size: 40px;
    width: 30%;
    float: right;
    padding: 15px
}